body {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    

}


hr {
    color: gray;
}


h1 {

    color: rgb(255, 208, 0);

  }

a {

    color: rgb(255, 208, 0);

  }