@import url('https://fonts.googleapis.com/css2? family= Anton & display=swap');

@font-face {

    font-family: 'minha fonte';
    src: url(Anton-Regular.ttf);
}

body {

    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    padding: 0;
    

}

.container {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 22px;
}

h1 {

    font-size: 40px;
}

p {

    text-align: justify;
}

em {

    font-style: italic;
}







